@import "./header.scss";

.sr_contation {
    width: 1200px;
    margin: 0 auto;

    .sr_left {
        margin-bottom: 15px;

        .breadnav {
            display: flex;
            justify-content: space-between;
            height: 40px;
            line-height: 40px;

            .locationdiv {
                span {
                    color: #b4b4b4;
                }

                a {
                    color: #333;
                }
            }

            .tsmsg {
                color: #b4b4b4;

                span {
                    color: #a00000;
                    padding: 0px 2px;
                }
            }
        }

        .selectarea {
            border: 1px solid #C7CACD;

            .selectareali {
                display: flex;
                border-bottom: 1px dashed #ccc;

                .selectareaLeft {
                    width: 66px;
                    height: 34px;
                    text-align: center;
                    line-height: 34px;
                    border-right: 1px solid #C7CACD;
                }

                .selectareaRight ul {
                    display: flex;
                    height: 34px;
                    line-height: 34px;

                    li {
                        margin-left: 25px;
                    }
                }
            }
        }
    }

    .floatdiv {
        width: 1200px;
        margin: 0 auto 15px;

        .filterTabBar {
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #b81c22;

            .searchTabbar .hover {
                width: 88px;
                height: 30px;
                background: #b81c22;
                line-height: 30px;
                text-align: center;

                a {
                    color: #fff;
                }
            }

            .pageBox .pagediv {
                display: flex;
                height: 30px;
                line-height: 30px;

                span {
                    margin-left: 12px;
                    display: block;

                    .jquery_pager_prevpage {
                        background: url(http://i.vanclimg.com/search/sprites_20130606.png) no-repeat 0px -72px;
                        height: 17px;
                        width: 19px;
                        cursor: pointer;
                        display: block;
                        margin-top: 7px;
                    }

                    .jquery_pager_nextpage {
                        background: url(http://i.vanclimg.com/search/sprites_20130606.png) no-repeat 0px -89px;
                        cursor: pointer;
                        height: 17px;
                        width: 48px;
                        display: block;
                        margin-top: 7px;
                    }
                }
            }

        }

        .filterForm {
            width: 1200px;
            margin: 0 auto;
            display: flex;
            border-bottom: 1px solid #ccc;
            ;

            .searchCol ul {
                display: flex;

                li {
                    width: 74px;
                    height: 34px;
                    border-left: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                    text-align: center;
                    line-height: 34px;

                    a {
                        span {
                            display: inline-block;
                            height: 11px;
                            width: 11px;
                            line-height: 11px;
                            margin-left: 0px;
                            text-indent: -9999px;
                            vertical-align: middle;
                            background: url(http://i.vanclimg.com/search/sprites_20130606.png) no-repeat;

                            &.upTrendBottom {
                                background-position: 0px -3090px;
                            }

                            &.BottomTrendUp {
                                background-position: 0px -3112px;
                            }

                        }
                    }

                    .triggerMore {
                        display: inline-block;
                        text-indent: -9999px;
                        vertical-align: top;
                        background: url(http://i.vanclimg.com/search/sprites_20130606.png) no-repeat 0px -3131px;
                        width: 11px;
                        height: 10px;
                        position: relative;
                        top: 13px;
                        z-index: 4;
                    }
                }
            }

            .searchbarPrice {
                width: 1200px;
                height: 34px;
                border-right: 1px solid #ddd;
                width: 133px;

                .searchbarText {
                    position: relative;

                    .searchbarInit {
                        display: flex;
                        position: absolute;
                        width: 107px;
                        height: 27px;
                        left: 20px;
                        top: 7px;

                        input {
                            width: 35px;
                            height: 15px;
                            padding-left: 3px;
                        }
                    }
                }
            }

            .hbDpBox {
                flex: 1;

                ul {
                    display: flex;
                    justify-content: flex-end;

                    li {
                        width: 89px;
                        height: 34px;
                        background: #eee;
                        border-left: 1px solid #ccc;
                        text-align: center;
                        line-height: 34px;
                    }
                }
            }
        }
    }

    .pruarea {
        width: 1200px;
        margin: 0 auto;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                display: inline;
                width: 231px;
                margin-bottom: 20px;

                p {
                    text-align: center;
                    width: 225px;
                    hieght: 38px;
                    padding: 0 3px 5px;
                    margin-top: 10px;

                    a {
                        display: block;
                        width: 220px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow:ellipsis;
                    }
                }

                &>div {
                    display: inline-block;
                    text-align: center;
                    width: 100%;
                }

                .Mpricediv .Sprice {
                    padding: 0px 3px 5px;
                    line-height: 20px;
                    text-align: center;
                    font-size: 13px;
                    color: #b81c22;
                    font-weight: 800;

                    strong {
                        font-weight: 800;
                    }
                }

                .pic {
                    width: 230px;
                   height: 344px;
                    z-index: 0;
                    position: relative;
                    text-align: center;

                    img {
                        display: block;
                        border: 1px solid #dbd7d6;
                        width: 228px;
                        height: 344px;
                    }

                    .teshui {
                        background: url(http://i.vanclimg.com/search/sprites_20130606.png) no-repeat 0px -841px transparent;
                        bottom: 0;
                        color: #FFFFFF;
                        font-family: "arial";
                        font-size: 16px;
                        height: 25px;
                        padding: 18px 0 2px 6px;
                        position: absolute;
                        right: 0;
                        text-align: center;
                        width: 40px;
                        text-indent: -5px;
                        _background: none;
                        _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="http://i.vanclimg.com/NewVancl/Productlist/icon/icon-off.png");
                    }

                    .vancllist_logo {
                        background: url(http://i4.vanclimg.com/search/vlistlogob.png) no-repeat scroll 0 0 transparent;
                        _background: none;
                        _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://i4.vanclimg.com/search/vlistlogob.png", sizingMethod="crop");
                        bottom: 4px;
                        height: 24px;
                        left: -6px;
                        position: absolute;
                        width: 111px;
                        display: none;
                    }
                }
            }
        }
    }

    .searchPage {
        display: inline;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;

        span {
            display: inline;
        }

        .jquery_pager_prevpage {
            cursor: pointer;
            display: block;
            width: 43px;
            height: 24px;
            padding-left: 14px;
            line-height: 24px;
            text-align: left;
            border: 1px solid #efefef;
            background: url(http://i.vanclimg.com/search/sprites_20130606.png) no-repeat scroll 3px -1996px;
        }

        ul {
            display: inline;
            display: flex;
            margin-right: 7px;

            li {
                display: inline;
                float: left;
                margin-left: 5px;
                text-align: center;
                width: 26px;
                line-height: 24px;
                height: 24px;
                border: 1px solid #ededed;
                cursor: pointer;

                &.currentpage {
                    color: #FFFFFF;
                    font-weight: bold;
                    background: #b81c22;
                    width: 26px;
                    line-height: 24px;
                    height: 24px;
                    border: 1px solid #ededed;
                }
            }
        }

        .jquery_pager_nextpage {
            cursor: pointer;
            display: block;
            width: 43px;
            height: 24px;
            padding-right: 14px;
            line-height: 24px;
            text-align: right;
            border: 1px solid #efefef;
            background: url(http://i.vanclimg.com/search/sprites_20130606.png) no-repeat scroll 46px -1954px;
        }

        .allpagesNumber {
            display: inline-block;
            margin: 6px 10px 0px;
        }

        strong {
            margin-top: 6px;
        }

        .pageGGshuru {
            width: 26px;
            height: 24px;
            border: 1px solid #ededed;
            line-height: 24px;
            text-align: center;
            margin: 0px 4px;
        }

        .pageGGsub {
            float: right;
            width: 49px;
            height: 26px;
            border: none;
            border: 0;
            margin-left: 10px;
            background: url(http://i.vanclimg.com/search/sprites_20130606.png) no-repeat scroll 0px -2044px;
            cursor: pointer;
        }
    }
}

@import "./footer.scss";